html,body{
    background-color: black;
}

.image{
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}



.p1{
    color: white;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.i1{
    width: 500px;
    height: 500px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
}

.i2{
    width: 500px;
    height: 500px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
}

.i3{
    width: 500px;
    height: 500px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
}


.p2{
    color: white;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}


.i4{
    width: 400px;
    height: 600px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 13px;
    left: 0px;
}

.i5{
    width: 400px;
    height: 600px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
}

.i6{
    width: 400px;
    height: 600px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
}


.i7{
    width: 400px;
    height: 600px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 10px;
    left: 0px;
}


.image2{
    width: 500px;
    height: 710px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}


.square1{
    width: 550px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
}


.p3{
    color: white;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}



.i9{
    width: 500px;
    height: 700px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
    position: relative;
    top: 0px;
    bottom: 1000px;
    right: 10px;
    left: 0px;
}


.i10{
    width: 500px;
    height: 700px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
    position: relative;
    top: 0px;
    bottom: 1000px;
    right: 10px;
    left: 0px;
}


.i11{
    width: 500px;
    height: 700px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
    position: relative;
    top: 0px;
    bottom: 1000px;
    right: 10px;
    left: 0px;
}


.i12{
    width: 500px;
    height: 700px;
    /* border-style: solid;
    border-color: white; */
    border-radius: 10px;
    position: relative;
    top: 0px;
    bottom: 1000px;
    right: 10px;
    left: 0px;
}



.p4{
    color: black;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}


.img1{
    width: 30px;
    height: 30px;
}